@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Kontakt";
}
<div class="contact container" id="contactId" style="margin-top: 107px">
    @model TermiConsult.Models.ContactModel
    <div class="col">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="text-center text-uppercase" style="display: flex; align-items: center; width:100%; justify-content: center; color: dimgray; padding-top:80px; margin-bottom:80px">
                    <h2><strong>KONTAKT</strong></h2>
                </div>
                <hr />
                <div class="col-lg-6 left" style="width:100%">
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Vorname, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Vorname, new { htmlAttributes = new { @class = "form-control", @style = "width:100% !important;" } })
                                @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Nachname, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nachname, new { htmlAttributes = new { @class = "form-control", @style = "width:100% !important;" } })
                                @Html.ValidationMessageFor(model => model.Nachname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FromEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FromEmail, new { htmlAttributes = new { @class = "form-control", @style = "width:100% !important;" } })
                                @Html.ValidationMessageFor(model => model.FromEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Betreff, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Betreff, new { htmlAttributes = new { @class = "form-control", @style = "width:100% !important;" } })
                                @Html.ValidationMessageFor(model => model.Betreff, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            @*<div class="row">*@
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bitte geben Sie Ihre Nachricht hier ein.", @style = "width:100% !important; height:100px" } })

                                @*</div>*@

                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input formmethod="post" style="background-color:lightblue" type="submit" value="Senden" class="btn btn-default" asp-controller="Mail" asp-action="SendMessage" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 right">
                    <div class="text-center">
                        <div class="container">
                            <br />
                            <p class="fa fa-phone fa-2x"></p>
                            <p><abbr title="Phone">+49(0)173 899 26 90 </abbr></p>
                        </div>
                        <div class="col" style="position:center">
                            <br />
                            <i class="fa fa-envelope fa-2x"></i>
                            <p>
                                <a href="mailto:info@termiconsult.com">info@termiconsult.com</a>
                            </p>
                        </div>
                        <div class="col" style="position:center">
                            <i class="fa fa-map-marker-alt fa-2x"></i>
                            <p>Spitalstraße 6a<br /></p>
                            <p>Markdorf, 88677, Deutschland</p>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
