@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div class="home container bg-info" id="homeId" style="margin-top:107px">
    <div class="container justify-content-xl-center" style="left:0; right:0; height: 100%;">
        <div class="text-center mx-auto" style="margin-top:80px">
            <img class="col" id="imageIcon" src="~/Images/TermiConsult.png" style="width: 100%; max-width:300px; height: 80px" />
        </div>
        <div class="text-center mx-auto font-weight-bold dark-grey-text text-uppercase" style="margin-top: 50px; font-size: 24px; font-family:'Rockwell;'; color:darkslategray">
            <div class="col-md-12 mx-auto" style="background-color: inherit; display: block; width: 100%; padding: 5px">
                <i style="align-content:start" class="fa fa-sitemap fa-1x mb-4"> Software Architektur</i>
            </div>
            <div class="col-md-12 mx-auto" style="background-color:inherit; display:block; width:100%; padding:5px">
                <i style="align-content:start" class="fa fa-code fa-1x mb-4"> Implementierung</i>
            </div>
            <div class="col-md-12 mx-auto" style="background-color: inherit; display:block; width:100%; padding:5px">
                <i style="align-content:start" class="fa fa-check-square fa-1x mb-4"> Software Testing</i>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="background-color: inherit; height: 200px;">
            <button onclick="smoothScroll('leistungId')" class="landingPageButton"><i class="blink_me fa-4x fa fa-angle-double-down"></i></button>
        </div>
    </div>
</div>

<div class="container leistung" id="leistungId" style="background-color: aliceblue">
    <div class="container justify-content-xl-center text-center">
        <h1 class="justify-content-center font-weight-bold text-uppercase" style="font-family:Rockwell; color:dimgray; margin-top:50px">Meine Leistungen</h1>
        <hr class="thick" />
        <img src="~/Images/MeineSchwerpunkte.png" style="background-position: center; background-size: cover; background-repeat: no-repeat; height:50%; width:80%" />
    </div>
</div>

<div class="container skills" id="skillsId" style="background-color: white">
    <div class="container justify-content-xl-center">
        <div class="row">
            <div class="col-lg-6 left">
                <div class="d-flex" style="margin-bottom:-40px; color: dimgray; margin-top: 5px; font-family:Rockwell;">
                    <h1 class="text-md-left text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Meine <strong>Erfahrungen</strong></h1>
                </div>

                <div class="blockquote bq-warning mb-4 defaultCard" style="width:100%; background-color:#fdedec">
                    <blockquote style="font-family: Rockwell">
                        <h5 class="font-weight-bold mb-0 ml-1"><strong>DENTSPLY SIRONA GMBH</strong></h5>
                        <p class="mb-0 ml-1 light-grey-text">Medizintechnik</p>
                        <p class="mb-0 ml-1 light-grey-text">Softwarequalität & Tooling</p>
                    </blockquote>

                </div>

                <div class="blockquote bq-warning mb-4 defaultCard" style="width:100%; background-color: #d1f2eb">
                    <blockquote style="font-family: Rockwell">
                        <h5 class="font-weight-bold mb-0 ml-1"><strong>WEBER AUTOMOTIVE GMBH</strong></h5>
                        <p class="mb-0 ml-1 light-grey-text">Industrie 4.0</p>
                        <p class="mb-0 ml-1 light-grey-text">Leitrechner für Produktionslinien</p>
                        <p class="mb-0 ml-1 light-grey-text">Softwarequalität</p>
                    </blockquote>

                </div>

                <div class="blockquote bq-warning mb-4 defaultCard" style="width:100%; background-color: #fae5d3">
                    <blockquote style="font-family: Rockwell">
                        <h5 class="font-weight-bold mb-0 ml-1"><strong>AIRBUS GMBH</strong></h5>
                        <p class="mb-0 ml-1 light-grey-text">Aeronautik</p>
                        <p class="mb-0 ml-1 light-grey-text">Softwarequalität</p>
                        <p class="mb-0 ml-1 light-grey-text">Mission Analysis & Map Preparation</p>
                    </blockquote>
                </div>

                <div class="blockquote bq-warning defaultCard" style="width:100%; background-color: #85c1e9">
                    <blockquote style="font-family: Rockwell">
                        <h5 class="font-weight-bold mb-0 ml-1"><strong>SIEMENS (HEALTHINEERS)</strong></h5>
                        <p class="mb-0 ml-1 light-grey-text">Medizintechnik</p>
                        <p class="mb-0 ml-1 light-grey-text">Softwarequalität & Tooling</p>
                        <p class="mb-0 ml-1 light-grey-text">Magnetresonanztomographie (MRT)</p>
                    </blockquote>
                </div>

                <div class="blockquote bq-warning defaultCard" style="width:100%; background-color:#f7dc6f">
                    <blockquote style="font-family: Rockwell">
                        <h5 class="font-weight-bold mb-0 ml-1"><strong>FRAUNHOFER INSTITUTE (EZRT)</strong></h5>
                        <p class="mb-0 ml-1 light-grey-text">Röntgentechnik</p>
                        <p class="mb-0 ml-1 light-grey-text">Bildverarbeitung</p>
                        <p class="mb-0 ml-1 light-grey-text">Softwarequalität & Tooling</p>
                    </blockquote>
                </div>

                <div class="blockquote defaultCard" style="width:100%; background-color:lavender">
                    <blockquote style="font-family: Rockwell">
                        <h5 class="font-weight-bold mb-0 ml-1"><strong>LGA INTERCERT (LGA)</strong></h5>
                        <p class="mb-0 ml-1 light-grey-text">Messtechnik</p>
                        <p class="mb-0 ml-1 light-grey-text">Medizinische Normen</p>
                        <p class="mb-0 ml-1 light-grey-text">Aktive medizinische Geräte</p>
                    </blockquote>
                </div>
            </div>

            <div class="col-lg-6 right">

                <!--Second heading-->
                <div class="d-flex" style="margin-bottom:-40px; color: dimgray; margin-top: 5px; font-family:Rockwell">
                    <h1 class="text-md-left text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Meine <strong>Skills</strong></h1>
                </div>

                <div class="blockquote bq-warning defaultCard" style="width:100%; background-color:azure; font-family: Rockwell">
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> C#/.NET</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> WPF / XAML</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> ASP .NET</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Rest Api</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Angular</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> CSS3</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> HTML5</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> UML</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Bootstrap</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> C/C++</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Scripting (TS/JS/Batch)</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Software Architektur</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Design principles</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Industrie 4.0</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Windows Dienste</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Testing </i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> MSSQL-Datenbank</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> NHibernate</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> wordpress</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> ...</i></p>
                </div>

                <div class="d-flex" style="margin-bottom:-40px; color: dimgray; font-family:Rockwell;">
                    <h1 class="text-md-left text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Soft-<strong>skills</strong></h1>
                </div>

                <div class="blockquote bq-warning defaultCard" style="width:100%; border:solid 1px lightgrey; background-color:floralwhite; font-family: Rockwell">

                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Projektleiterqualifizierung</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Requirement Engineering</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Zeitmanagement & Arbeitsmethodik</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> BWL für Naturwissenschaftler</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Grundlagen effektiver Kommunikation</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Multithreading</i></p>
                    <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> C++ für Fortgeschrittene</i></p>
                </div>

            </div>
        </div>

        <div class="container justify-content-xl-center text-center">
            <h1 class="d-flex justify-content-center font-weight-bold text-uppercase" style="font-family: Rockwell; color: dimgray; margin-top: 50px">Entwicklungsprozess</h1>
            <hr class="thick" />
            <img src="~/Images/Konzept.png" style="background-position: center; background-size: cover; background-repeat: no-repeat; height:50%; width:80%" />
        </div>
    </div>
</div>

@*<div class="container link" id="linkId">
        <div class="container justify-content-xl-center">
            <div class="d-flex text-center text-uppercase" style="width:100%; justify-content: center; margin-top:5px; color: dimgray; font-family:Rockwell;">
                <h1>Diverse <strong>Links</strong></h1>
            </div>
            <div class="card" style="background-color: inherit;padding: 40px;margin-top: 2px; width: 100%; background-color: lightblue; font-family: Rockwell">
                <br />
                <a href="https://www.c-sharpcorner.com/blogs/how-to-publish-an-angular-application" target="_blank">How To Publish An Angular Application</a><br />
                <a href="http://www.codeproject.com/Articles/100175/Model-View-ViewModel-MVVM-Explained" target="_blank">Model View View Model</a><br />
                <a href="https://docs.microsoft.com/de-de/learn/modules/welcome-to-azure/" target="_blank">Welcome to Azure</a><br />
                <a href="https://www.docker.com/products/kubernetes" target="_blank">Docker & Kubernetes</a><br />
                <a href="https://www.soapui.org/learn/api/soap-vs-rest-api/" target="_blank">REST vs. SOAP</a><br />
                <a href="https://www.giantstride.gr/sql-indexing-part2/" target="_blank">SQL Indexierung</a><br />
                <a href="https://www.youtube.com/watch?v=7ttVXhUkN3c" target="_blank">Test Driven Development (TDD)</a><br />
                <a href="https://www.testing-board.com/bdd-behavior-driven-development/" target="_blank">Behavior Driven Development (BDD)</a><br />
                <a href="http://stackoverflow.com/questions/3058/what-is-inversion-of-control" target="_blank">Inversion of Control (IoC)</a><br />
                <a href="http://www.codeproject.com/Articles/1009532/Learn-Csharp-Design-patterns-step-by-step-with-a-p" target="_blank">C# Design patterns step by step</a><br />
                <a href="http://www.codeproject.com/Articles/703634/SOLID-architecture-principles-using-simple-Csharp" target="_blank">SOLID-architecture-principles using-simple-Csharp</a><br />
                <a href="http://www.codeproject.com/Articles/6207/Generics-C" target="_blank">Generics C#</a><br />
                <a href="http://www.extremeprogramming.org/" target="_blank">Extreme Programming: A gentle introduction</a><br />
                <a href="http://www.codeproject.com/Articles/17575/Lambda-Expressions-and-Expression-Trees-An-Introdu" target="_blank">Lambda Expressions and Expression Trees: An Introduction</a><br />
                <a href="https://fontawesome.com/icons?from=io" target="_blank">Font Awesome Icons</a><br />

                <a href="https://htmlcolorcodes.com/" target="_blank">HTML Color Codes</a><br />
                <a href="http://www.sabinanore.com/design/html-special-symbols/" target="_blank">HTML Special Symbols</a><br />
                <a href="https://developers.google.com/custom-search/json-api/v1/libraries" target="_blank">Custom Google Search</a><br />
                <a href="http://www.opensourcecms.com/" target="_blank">Open Source Content Management</a>

            </div>

            <br />

            <div class="card" style="padding:40px; margin:2px; background-color:lavenderblush; width:100%; font-family: Rockwell">
                <i class="fa fa-3x mb-4" aria-hidden="true"></i>
                <div class="container" style="background-color:none; margin-top:-30px; ">
                    <a href="https://www.udemy.com/" target="_blank">Portal für Online Kurse [DE] </a><br />
                    <a href="https://www.pluralsight.com/" target="_blank">Portal für Online Kurse [EN]</a><br />
                </div>

            </div>
            <br />
            <div class="card" style="padding:40px; margin:2px; background-color: lightsteelblue; width:100%; margin-bottom:10px;font-family: Rockwell">
                <i class="fa fa-3x mb-4" aria-hidden="true"></i>
                <div class="container" style="background-color:none; margin-top:-30px">
                    <a href="https://github.com/" target="_blank">GitHub</a><br />
                    <a href="http://stackoverflow.com/" target="_blank">StackOverflow</a><br />
                    <a href="http://www.codeproject.com/" target="_blank">Code Project </a><br />
                    <a href="https://www.tutorialspoint.com/tutorialslibrary.htm" target="_blank">Tutorials Point</a><br />
                </div>
            </div>
        </div>
    </div>*@

<div class="container contact" id="contactId" style="background-color: white; font-family: Rockwell">
    <div class="container justify-content-xl-center" style="margin-top: 1px; left:0; right:0; height:100%">
        <div class="container-fluid" style="margin-bottom:5px">

            @model TermiConsult.Models.ContactModel
            <div class="container-fluid">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    <div class="container justify-content-xl-center ">
                        <h1 class="justify-content-center font-weight-bold text-uppercase text-center" style="font-family:Rockwell; color:dimgray; margin-top:50px">Kontakt</h1>
                        <hr class="thick" />

                        <div class="container mx-auto" style="vertical-align:central">

                            <p class="text-center pt-3" align="justify">
                                Falls Sie Rückfragen an mich haben, zoegern Sie nicht, mir eine Nachricht zu hinterlassen. Ich melde mich so schnell wie moeglich zurück.<br />Vielen Dank!
                            </p>
                            <p class="text-center pt-3" align="justify">
                                Pour toute question ou remarque, veuillez me laisser un message. Je vous contacterai dès que possible.<br /> Merci!
                            </p>
                            <p class="text-center pt-3" align="justify">
                                In case you will have any questions or remarks, please feel free to drop me a message. I will be come back to you as soon as possible.<br /> Thanks!
                            </p>
                        </div>

                        <hr />

                        <h3 class="container mx-auto text-center pt-3" align="justify" style="color: darkslateblue">@ViewBag.Message</h3>

                        <div class="row">
                            <div class="col-lg-6 left contact-left" style="background-color: white">
                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Vorname, htmlAttributes: new { @class = "control-label container" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Vorname, new { htmlAttributes = new { @class = "form-control", @style = "width:100% !important;" } })
                                            @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Nachname, htmlAttributes: new { @class = "control-label container" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Nachname, new { htmlAttributes = new { @class = "form-control", @style = "width:100% !important;" } })
                                            @Html.ValidationMessageFor(model => model.Nachname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FromEmail, htmlAttributes: new { @class = "control-label container" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.FromEmail, new { htmlAttributes = new { @class = "form-control", @style = "width:100% !important;" } })
                                            @Html.ValidationMessageFor(model => model.FromEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Betreff, htmlAttributes: new { @class = "control-label container" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Betreff, new { htmlAttributes = new { @class = "form-control", @style = "width:100% !important;" } })
                                            @Html.ValidationMessageFor(model => model.Betreff, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label container" })
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(model => model.Message, rows: 10, columns: 40, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bitte geben Sie Ihre Nachricht hier ein.", @style = "width:100% !important; height:100px" } })
                                            <br />
                                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        @Html.LabelFor(model => model.PruefWert, htmlAttributes: new { @class = "control-label container" })
                                        <div class="col-md-offset-2 col-md-10">
                                            <label>
                                                11 + 1 =
                                                @Html.TextBoxFor(model => model.PruefWert, new { htmlAttributes = new { @class = "form-control", @style = "width:100% !important;" } })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.PruefWert, "", new { @class = "text-danger" })
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input formmethod="post" style="background-color:lightblue" type="submit" value="Senden" class="btn btn-default" asp-controller="Contact" asp-action="Index" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-6 right contact-right" style="background-color: white">
                                <div class="text-center" style="margin-top:50px">
                                    <div class="container">
                                        <br />
                                        <p class="fa fa-phone fa-2x"></p>
                                        <p><abbr title="Phone">+49(0)173 899 26 90 </abbr></p>
                                    </div>
                                    <div class="col" style="position:center">
                                        <i class="fa fa-envelope fa-2x"></i>
                                        <p>
                                            <a href="mailto:info@termiconsult.com">info@termiconsult.com</a>
                                        </p>
                                    </div>
                                    <div class="col" style="position:center">
                                        <i class="fa fa-map-marker-alt fa-2x"></i>
                                        <p>
                                            Spitalstraße 6a<br />
                                            Markdorf, 88677, Deutschland
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>

    </div>
</div>